* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  line-height: 1.6;
}

.container {
  width: 400px;
  margin: 50px auto;
  border: 4px solid black;
  padding: 25px;
  border-radius: 10px;
  /* text-align: center; */
}

img {
  width: 200px;
  height: 200px;
}

.sec-1 {
  font-size: 14px;
  width: 300px;
  margin: 20px auto;
}
.para-1 {
  width: 250px;
}
.form h3 {
  font-size: 14px;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="email"] {
  width: 100%;
  padding: 5px;
  margin: 3px 0;
  box-sizing: border-box;
}

.form input[type="radio"],
.form input[type="checkbox"] {
  margin-right: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgb(62, 60, 60);
  border-radius: 5px;
}

table th,
td {
  border: 1px solid rgb(62, 60, 60);
  padding: 3px 10px;
}
