* {
  margin: 0;
  padding: 0;
}
.main-container {
  height: 800px;
  background-color: lightblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.profile-card {
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.social-icon {
  display: flex;
  gap: 10px;
}
