* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: lightgray;
}
html {
  font-size: 62.5%;
}
.grid-container {
  margin: 0 auto;
  max-width: 120rem;
  width: 90%;
}
.reviews-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 120rem;
  gap: 2rem;
  margin: 10rem auto;
}

.review-card {
  background-color: #fff;
  padding: 2rem;
  border: 1px solid darkgrey;
  border-radius: 8px;
}

.review-heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.review-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.review-person {
  font-size: 1.8rem;
  font-weight: 700;
}

@media (max-width: 62.5rem) {
  html {
    font-size: 50%;
    /* 16px x 50% = 8*/
  }
  .review-card {
    padding: 4rem;
  }
}

@media (max-width: 31.25rem) {
  html {
    font-size: 37.5%;
    /*  16px x 37.5%  = 6*/
  }
  .reviews-grid {
    grid-template-columns: 1fr;
  }
}
