* {
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto;
  border: 4px solid black;
  padding: 25px;
  text-align: center;
}
h1,
h3,
img {
  margin-bottom: 12px;
}
ul {
  margin-bottom: 20px;
}
ul li {
  list-style: none;
}
