* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f7f7f7;
}

.card {
  width: 400px;
  margin: 50px auto;
  border: 4px solid rgb(244, 137, 173);
  padding: 25px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ff9a9e, #fad0c4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1,
p {
  text-align: center;
}
.first-p {
  font-size: 14px;
  text-align: start;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.img-sec {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

nav {
  width: 300px;
  padding: 2px;
  margin: 20px auto;
  font-size: 14px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
}

.about {
  display: flex;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.6;
}

.table-sec {
  font-size: 14px;
  margin-bottom: 40px;
}

.table-sec h3 {
  font-size: 14px;
  margin-bottom: 12px;
}

.table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

table td {
  border: 2px solid #aaa;
}

td {
  padding: 6px 50px;
  text-align: center;
}

.form h3 {
  font-size: 14px;
  margin-bottom: 12px;
}

.form textarea,
.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
